.lgmtPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .banner{
        height: 400px;
    }
    h1{
        color: #FF6060;
        margin-bottom: 0;
        font-weight: 500;
        font-size:36px;
        @media (max-width : 1024px) {
            font-size: 24px;
        }
        @media (max-width : 512px) {
            font-size: 18px;
        }
    }
    p{
        margin-top: 5px;
        font-weight: 500;
        font-size: 18px;
        @media (max-width : 1024px) {
            font-size: 15px;
        }
        @media (max-width : 512px) {
            font-size: 12px;
        }
    }
    &__infos{
        display: flex;
        justify-content: space-between;
        width: 86%;
        @media (max-width : 1024px) {
            flex-direction: column;
            width: 89.287vw;
        }
        &-author{
            margin-top: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 10px;
            color: #FF6060;
            p{
                text-align: end;
                
                @media (max-width :1024px) {
                    margin: 0;
                    font-size: 20px ;
                }
                @media (max-width : 512px) {
                    font-size: 14px;
                }
            }
            img {
                border-radius: 50%;
                height: 80px;
                @media (max-width : 1024px) {
                    height: 60px;
                    width: 60px;
                }
                @media (max-width : 512px) {
                    height: 40px;
                    width: 40px;
                }
            }
            @media (max-width : 1024px) {
                justify-content: center;
                align-items: center;
            }
        }
        &-tags{
            margin-top: 15px;
            display: flex;
            gap: 12px;
            height: 15%;
            width: 100%;
            @media (max-width : 1024px) {
                height:100%;
                width: 100%;
                flex-wrap: wrap;
            }
            .tag{
                display: flex;
                justify-content: center;
                align-items: center;
                width:fit-content;
                height: 100%;
                padding : 3px 10px 3px 10px;
                color: white;
                background-color: #FF6060;
                border-radius: 10px;
                font-weight: 500;
                @media (max-width : 1024px) {
                    font-size: 18px;

                }
                @media (max-width : 512px) {
                    font-size: 14px;
                }
            }
        }
        .author-and-rating {
            width: 15%;
            @media (max-width : 1024px) { width: 30%};
            @media (max-width : 1024px) {
                width: 100%;
                display: flex;
                flex-flow: row-reverse;
                justify-content: center;
                align-items: center;
            }
        }
        &-rating{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
            @media (max-width : 1024px) {
                justify-content: flex-start;;
            }
            img{
                width: 30px;
                height: 30px;
                @media (max-width : 1024px) {
                    width: 25px;
                    height: 25px;
                    margin-left: 4px;
                }
                @media (max-width : 512px) {
                    width: 20px;
                    height: 20px;
                }

            }
        }
    }
    &__collapseContainer{
        display: flex;
        justify-content: space-between;
        gap: 10%;
        color: white;
        width: 86%;
        margin-top: 24px;
        margin-bottom: 50px;
        @media (max-width : 1024px) {
            width: 89.287vw;
            flex-wrap: wrap;
            margin-top: 19px;
            margin-bottom: 19px;
            gap: 20px;
        }
    }
}
