header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    padding: 40px 0 40px 0;
    .link{
        background-color: white;
        border: none;
        font-family: "Montserrat", serif;
        font-size: 17px;
        padding: 0;
        text-decoration: none;
        @media (max-width : 1024px) { 
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
        }
    };
    .link:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .link:first-child{
        padding-right: 20px;
    }
    .link.active{
        text-decoration: underline;
    }
    @media (max-width : 1024px) {
        padding: 20px;
        img{
            height: 50px;
            width: 145px;
        }
    }
}

